@charset "utf-8";

/* common */

body {
  background-color: #f0f0f0;
}

h2 {
  position: relative;
}

h2 span {
  display: block;
}

h2 .en {
  font-size: 36px;
  letter-spacing: 8px;
}

h2 .jp {
  font-size: 14px;
  margin-top: 16px;
}

h2::after {
  content: "";
  display: block;
  width: 50px;
  height: 1px;
  background: black;
  margin-top: 32px;
  margin-bottom: 60px;
}

/* header */

header {
  display: flex;
  align-items: center;
}

header .container {
  display: flex;
  align-items: center;
  padding: 0 10%;
}

header>a {
  font-size: 12px;
  margin-left: auto;
  background: black;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  width: 200px;
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: center;
}

header>a:hover {
  opacity: 0.6;
}

h1 {
  margin-right: 40px;
}

ul {
  display: flex;
  gap: 16px;
}

li {
  font-size: 14px;
  margin: 10px;
}

li a {
  color: black;
  text-decoration: none;
}

/* mainvisual */

.main-visual {
  height: calc(100vh - 80px);
}


.main-visual img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* news */

.news {
  max-width: 1000px;
  margin: 120px auto;
  padding: 0 20px;
}


.news-list {
  font-size: 14px;
  display: flex;
  gap: 10px;
  padding: 0;
}

.news-list li {
  position: relative;
  padding-right: 20px;
  flex: 1;
}

.news-list li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: black;
}

.news-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.news-label {
  background-color: black;
  color: white;
  padding: 4px 6px;
  font-size: 12px;
}

.news-text {
  margin-top: 24px;
}

/* about */

.about {
  display: flex;
}

.about img {
  width: 100%;
  height: auto;
}

.about-text {
  margin: 0 60px;
}

.about p {
  font-size: 14px;
  line-height: 2; 
}