@charset "utf-8";

/* common */

body {
  background-color: #f0f0f0;
}

h2 {
  position: relative;
}

h2 span {
  display: block;
}

h2 .en {
  font-size: 36px;
  letter-spacing: 8px;
}

h2 .jp {
  font-size: 14px;
  margin-top: 16px;
}

h2::after {
  content: "";
  display: block;
  width: 50px;
  height: 1px;
  background: black;
  margin-top: 32px;
  margin-bottom: 60px;
}

/* header */

header {
  display: flex;
  align-items: center;
  height: 80px;
}

/* header .container {
  display: flex;
  align-items: center;
  padding: 0 10%;
} */

header .container {
  display: flex;
  align-items: center;
  padding: 0 16px;
  max-width: 1032px;
  margin: 0 auto;
  width: 100%;
}

header>a {
  font-size: 12px;
  margin-left: auto;
  background: black;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  width: 200px;
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: center;
}

header>a:hover {
  opacity: 0.6;
}

h1 {
  margin-right: 40px;
}

ul {
  display: flex;
  gap: 16px;
}

li {
  font-size: 14px;
  margin: 10px;
}

li a {
  color: black;
  text-decoration: none;
}

/* mainvisual */

.main-visual {
  height: calc(100vh - 80px);
}


.main-visual img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* news */

.news {
  max-width: 1000px;
  margin: 120px auto;
  padding: 16px;
}


.news-list {
  font-size: 14px;
  display: flex;
  gap: 10px;
  padding: 0;
}

.news-list li {
  position: relative;
  padding-right: 20px;
  flex: 1;
}

.news-list li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: black;
}

.news-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.news-label {
  background-color: black;
  color: white;
  padding: 4px 6px;
  font-size: 12px;
}

.news-text {
  margin-top: 24px;
}

/* about */

.about {
  display: flex;
}

.about-img {
  width: 55%;
  height:400px
}

.about-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-text {
  width: 45%;
  margin: 0 60px;
  padding-top: 180px;
}

.about p {
  font-size: 14px;
  line-height: 2;
}

/* business */

.business {
  max-width: 1000px;
  margin: 120px auto;
}


.business img {
  width: 368px;
  height: 232px;
  margin-bottom: 40px;
}

.business p {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 12px;
}

.business p::before {
  content: 'ãƒ¼ ';
}

.b-contents {
  display: flex;
  gap: 60px;
  width: 100%;
  justify-content: center;
}

.b-left {
  padding-top: 120px;
}

/* company */

.company {
  max-width: 1000px;
  margin: 120px auto;
  position: relative;
  height: 622px;
}

.conpany-text {
  position: absolute;
  align-items: stretch;
  width: 567px;
  height: 622px;
  background-color: white;
  padding-left: 62px;
}

.conpany-text h2 {
  margin-top: 100px;
}

dl {
  display: flex;
  /* flex-wrap: wrap; */
  font-size: 14px;
}

dt {
  width: 100px;
  line-height: 2;
}

dd {
  width: calc(100% - 100px);
  margin-bottom: 16px;
  /* margin-left: 100px; */
  line-height: 2;
}

.company-img {
  width: 54.7%;
  height: auto;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  aspect-ratio: 547 / 400;
}

.company-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* footer */

footer {
  background-color: white;
  height: 200px;
  padding-bottom: 20px;
}

.pink {
  margin: 0 250px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.en-info {
  line-height: 1.5;
}

small {
  padding-left: 250px;
  font-size: 10px;
}


/* small screen */

@media (max-width: 900px) {
  header>a {
    display: none;
  }

  header .container {
    display: block;
  }

  h1>img {
    height: 20px;
  }

  .news-list {
    display: block;
  }

  .news-list li {
    margin-bottom: 40px;
  }

  .news-list li:not(:last-child)::after {
    content: none;
  }

  .about {
  display: block;
}

.about-img {
  width: 100%;
}




}